#bulletin-panel {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: background-color 0.25s ease-out;
}

.bulletin-panel-show {
  background-color: rgba(255, 255, 255, 0.5);
}