#rewards-panel{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 4rem;
  margin: 5px 0px;
  display: flex;
  justify-content: center;
  .reward-container {
    width: 2.5rem;
    display: none;
    .reward-type {
      width: 90%;
      font-size: 1.5rem;
      text-align: center;
    }
    .reward-time {
      width: 90%;
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
    }
    .reward-time-high {
      color: black;
    }
    .reward-time-low {
      color: crimson;
    }
  }
  .reward-container-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}