@import '../../style/constant.scss';

.bullet-traject-container {
  position: relative;
  width: 100%;
  height: 100%;
  .bullet-traject-init {
    position: absolute;
    opacity: 0.0;
    width: 10%;
    height: 9000%;
    left: 45%;
    top:-9010%;
    border: none;
    background-color: $battle-ground-color;
  }
  .bullet-traject-fire {
    background-color: red;
    opacity: 1.0;
  }
}
