@import "../../style/constant.scss";

.tank-main {
  position: absolute;
  .tank-container {
    position: absolute;
    .tank{
      border: $tank-border*1em solid black;
      border-radius: 0.24em;
      width: 1em;
      height: 1.618em;
      position: relative;
      .tank-gun {
        position: absolute;
        width: 0.2em;
        height: 1.4em; 
        top: -0.75em;
        left: (0.8-2*$tank-border)/2*1em;
        border: $tank-border*1em solid black;
      }
      .tank-gun-fire {
        position: absolute;
        width: 0.8em;
        height: 0.8em;
        top: -1.4em;
        left: 0.1em;
      }
    }
  }
  .tank-label {
    position: absolute;
    color: blue;
    font-size: 0.7em;
    left: 0em;
    top: 2.6em;
  }
}
